In [1]:
from os import path
import pandas as pd
from IPython.display import display
from matplotlib import pyplot as plt
from laptrack import LapTrack
from laptrack import datasets
import napari
from skimage import io

In [2]:
##loading spots 
# Assuming 'your_file.pkl' is the name of your pickle file
file_path = '/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/track_df_c3.pkl'

# Read the pickle file into a Pandas DataFrame
track_df = pd.read_pickle(file_path)

In [3]:
track_df

              amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  \
frame index
0     0      206.593249   11.0   12.0   0.0      2.0      2.0      4.0
      1      198.333333   69.0   52.0  -2.0      2.0      2.0      7.0
      2      203.692931   93.0  206.0   0.0      2.0      1.0      3.0
      3      207.348417  103.0  123.0   4.0      3.0      2.0     36.0
      4      205.523670  108.0  205.0  -2.0      2.0      2.0      6.0
...                 ...    ...    ...   ...      ...      ...      ...
9     1669   340.333333  233.0  166.0  77.0      9.0      2.0      8.0
      1670   341.562056  232.0  154.0  78.0      3.0      2.0     15.0
      1671   209.666667  233.0   13.0  77.0      2.0      5.0      7.0
      1672   317.562791  257.0  241.0  74.0      2.0      2.0      3.0
      1673   211.018362  261.0  154.0  76.0      4.0      3.0      6.0

             frame_y  tree_id  track_id
frame index
0     0            0        0         0
      1            0        1         1
      2            0        2         2
      3            0        3         3
      4            0        4         4
...              ...      ...       ...
9     1669         9     2144      2144
      1670         9     1714      1714
      1671         9     2079      2079
      1672         9     1747      1747
      1673         9     1683      1683

[17804 rows x 10 columns]

In [4]:
# Find the count of each tree_id
tree_id_counts = track_df['track_id'].value_counts()

# Get the tree_ids that have occurred more than 9 times
selected_tree_ids = tree_id_counts[tree_id_counts > 9].index

# Filter the DataFrame to get rows with the selected tree_ids
filtered_df = track_df[track_df['track_id'].isin(selected_tree_ids)]

# Print the filtered DataFrame
filtered_df.head()

              amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  \
frame index
0     2      203.692931   93.0  206.0   0.0      2.0      1.0      3.0
      3      207.348417  103.0  123.0   4.0      3.0      2.0     36.0
      4      205.523670  108.0  205.0  -2.0      2.0      2.0      6.0
      5      215.100784  113.0  119.0  -4.0      2.0      2.0     17.0
      6      205.333333  116.0  103.0  -2.0      2.0      2.0      6.0

             frame_y  tree_id  track_id
frame index
0     2            0        2         2
      3            0        3         3
      4            0        4         4
      5            0        5         5
      6            0        6         6

In [5]:
filtered_df['tree_id'].unique()

array([   2,    3,    4, ..., 1879, 1881, 1882])

In [6]:
single_track = filtered_df[filtered_df['track_id'] == 1879]

In [7]:
single_track

,,amplitude,mu_x,mu_y,mu_z,sigma_x,sigma_y,sigma_z,frame_y,tree_id,track_id
frame,index,,,,,,,,,,
0,1879,338.436627,237.0,144.0,76.0,3.0,2.0,6.0,0,1879,1879
1,1893,356.429802,237.0,144.0,78.0,5.0,2.0,9.0,1,1879,1879
2,1861,366.333333,237.0,144.0,77.0,3.0,2.0,7.0,2,1879,1879
3,1815,358.333333,235.0,151.0,77.0,3.0,2.0,8.0,3,1879,1879
4,1743,362.333333,237.0,152.0,77.0,2.0,1.0,9.0,4,1879,1879
5,1728,347.479857,233.0,151.0,78.0,2.0,2.0,11.0,5,1879,1879
6,1761,355.485511,236.0,143.0,77.0,2.0,3.0,9.0,6,1879,1879
7,1686,348.838014,236.0,144.0,75.0,3.0,2.0,5.0,7,1879,1879
8,1706,326.666667,233.0,144.0,76.0,2.0,2.0,7.0,8,1879,1879
9,1647,383.000000,231.0,153.0,77.0,3.0,2.0,7.0,9,1879,1879

In [8]:
#v = napari.Viewer()
#v.add_points(single_track[["mu_x", "mu_y", "mu_z"]])

In [11]:
# Replace 'your_file.tif' with the path to your 4D TIFF file
file_path = '/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/Channel_3.tif'

# Load the TIFF file using skimage
stack = io.imread(file_path)

# Create a napari viewer
viewer = napari.Viewer()

# Add the 4D stack to the viewer
layer = viewer.add_image(stack)

In [12]:
layer.bounding_box.visible = True

In [17]:
single_track = single_track.reset_index()

In [20]:
viewer.add_points(single_track[["frame","mu_x", "mu_y", "mu_z"]])
viewer.add_tracks(single_track[["track_id", "frame", "mu_z", "mu_y", "mu_x"]])

In [ ]:
#viewer.add_labels(single_track[["mu_x", "mu_y", "mu_z"]])