In [1]:
from os import path
import pandas as pd
from IPython.display import display
from matplotlib import pyplot as plt
from laptrack import LapTrack
from laptrack import datasets
import napari
from skimage import io

plt.rcParams["font.family"] = ""

Loading Dataset

In [2]:
path = '/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/spots_intensities.pkl'
spots_df = pd.read_pickle(path)

In [3]:
spots_df.head()

    amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
0  178.979370  133.0  133.0  -4.0      2.0      2.0     14.0      0
1  209.666667  138.0  239.0  -4.0      2.0      2.0     11.0      0
2  186.600156  124.0  137.0  -1.0      2.0      1.0      6.0      0
3  191.339676  138.0  239.0   1.0      2.0      2.0      3.0      0
4  194.000000  140.0   59.0   1.0      2.0      2.0      3.0      0

In [4]:
spots_df[800:810]

      amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  frame
800  378.991334  228.0  159.0  73.0      2.0      2.0      3.0      0
801  204.293763  228.0   26.0  78.0      2.0      2.0     16.0      0
802  380.706438  231.0  158.0  76.0      3.0      3.0      7.0      0
803  229.500776  252.0  142.0  75.0      2.0      1.0      7.0      0
804  180.333333  140.0   60.0   1.0      2.0      3.0      2.0      1
805  186.089316  110.0  184.0   1.0      5.0      2.0      3.0      1
806  194.000000  110.0  131.0   1.0      2.0      1.0      3.0      1
807  183.757086  131.0  134.0   1.0      3.0      2.0      3.0      1
808  201.000000  140.0   59.0   1.0      2.0      1.0      3.0      1
809  182.624240  142.0  153.0   2.0      2.0      2.0      1.0      1

Loading 3_D dataset

# Hyper parameters for LapTrack 
1. track_dist_metric="sqeuclidean",  # The similarity metric for particles. See `scipy.spatial.distance.cdist` for allowed values.
2. splitting_dist_metric="sqeuclidean",
3. merging_dist_metric="sqeuclidean",
4. track_cost_cutoff = max_distanceˆ2  # Need to explicitly define this or else it will take the default value which is 15ˆ2
5. gap_closing_cost_cutoff = max_distanceˆ2  # Need to explicity define this value or make it False else it will take the default value which is 15ˆ2
6. gap_closing_max_frame_count = 1 # By default this value is 2, i set it to 1 as required in our case 
7. splitting_cost_cutoff=False # This remains false for our analysis
8. merging_cost_cutoff=False # This remains false for our analysis

In [5]:
max_distance = 3
lt = LapTrack(
    track_dist_metric="sqeuclidean",  # The similarity metric for particles. See `scipy.spatial.distance.cdist` for allowed values.
    splitting_dist_metric="sqeuclidean",
    merging_dist_metric="sqeuclidean",
    # the square of the cutoff distance for the "sqeuclidean" metric
    track_cost_cutoff = max_distance**2,
    gap_closing_cost_cutoff = (2*max_distance)**2,
    gap_closing_max_frame_count = 1, 
    splitting_cost_cutoff=False,  # or False for non-splitting case
    merging_cost_cutoff=False  # or False for non-merging case 
)

In [6]:
print(lt.gap_closing_max_frame_count)

1

In [7]:
track_df, split_df, merge_df = lt.predict_dataframe(
    spots_df,
    coordinate_cols=[
        "mu_x",
        "mu_y",
        "mu_z"
    ],  # the column names for the coordinates
    frame_col="frame",  # the column name for the frame (default "frame")
    only_coordinate_cols=False,  # if False, returned track_df includes columns not in coordinate_cols.
    # False will be the default in the major release.
)

In [8]:
c2_tracking_pickle_file = "/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/track_df_c2.pkl"

# Save the DataFrame to a pickle file
track_df.to_pickle(c2_tracking_pickle_file)

`track_df` is the original dataframe with additional columns "track_id" and "tree_id".

The track_id is a unique id for each track segments without branches. A new id is assigned when a splitting and merging occured. 

The tree_id is a unique id for each "clonal" tracks sharing the same ancestor.

In [9]:
track_df[1420:1435]

              amplitude   mu_x   mu_y  mu_z  sigma_x  sigma_y  sigma_z  \
frame index
1     616    183.978153  216.0  206.0  77.0      2.0      2.0      9.0
      617    221.858298  216.0  245.0  78.0      2.0      2.0      8.0
      618    228.333333  217.0  229.0  78.0      2.0      2.0      7.0
      619    190.204509  223.0   41.0  78.0      5.0     15.0     18.0
      620    201.000000  225.0   25.0  78.0      2.0      1.0     11.0
      621    237.333333  229.0  138.0  77.0      2.0      1.0      7.0
      622    423.158037  228.0  158.0  75.0      4.0      2.0      4.0
      623    250.241059  253.0  142.0  76.0      2.0      2.0      7.0
      624    197.610641  261.0  240.0  78.0      3.0      2.0     11.0
2     0      184.526869  132.0  134.0   4.0      4.0      1.0    -11.0
      1      181.082685  138.0  238.0  -4.0      2.0      1.0     12.0
      2      177.000000   90.0  118.0  -3.0      2.0      1.0     10.0
      3      179.528864  108.0  185.0  -3.0      3.0      3.0     13.0
      4      183.000000  140.0   59.0   1.0      2.0      2.0      2.0
      5      202.830439  130.0  134.0   2.0      3.0      1.0      2.0

             frame_y  tree_id  track_id
frame index
1     616          1      975       975
      617          1      797       797
      618          1      778       778
      619          1      799       799
      620          1      801       801
      621          1      976       976
      622          1      800       800
      623          1      977       977
      624          1      978       978
2     0            2       40        40
      1            2      979       979
      2            2      980       980
      3            2      808       808
      4            2        4         4
      5            2       13        13

In [10]:
track_df = track_df.reset_index()

In [11]:
# Find the count of each tree_id
tree_id_counts = track_df['tree_id'].value_counts()

# Get the tree_ids that have occurred more than 8 times
selected_tree_ids = tree_id_counts[tree_id_counts > 8].index

# Filter the DataFrame to get rows with the selected tree_ids
filtered_df = track_df[track_df['tree_id'].isin(selected_tree_ids)]

# Print the filtered DataFrame
filtered_df.head()

# reset index
filtered_df = filtered_df.reset_index()

In [12]:
## finding unique track ids that exist throughout the 10 timestamps 
filtered_df['track_id'].unique()

## previously 13*21 = 275
## now 13 * 7 + 10 =  101 
## now 11 * 32 + 2 = 354 (with max_frame gap as 1)

array([ 23,  39,  80,  85, 106, 113, 122, 126, 135, 136, 141, 155, 158,
       167, 170, 184, 189, 197, 209, 227, 232, 235, 237, 241, 244, 245,
       252, 273, 287, 297, 298, 307, 312, 314, 323, 332, 333, 339, 345,
       348, 355, 363, 384, 393, 398, 417, 434, 454, 461, 462, 486, 494,
       499, 504, 526, 534, 535, 551, 583, 585, 593, 595, 602, 603, 605,
       619, 625, 636, 637, 641, 646, 653, 657, 659, 665, 667, 672, 685,
       689, 691, 694, 696, 697, 700, 703, 704, 706, 708, 709, 711, 712,
       715, 727, 729, 731, 732, 735, 737, 740, 743, 750, 754, 755, 762,
       764, 766, 770, 771, 776, 780, 784, 785, 791, 795, 798, 800, 801,
       802, 844, 846, 848, 857, 873, 881, 904, 908, 911, 918, 959, 963,
       964, 969, 977])

In [13]:
filtered_df['track_id'].nunique()

133

In [ ]:
# 112 unique tracks with track_cost_cutoff set as max_distance(5.2) ** 2
# 59 unique_tracks with track_cost_cutoff set as max_distance(5.2) * 2
# 45 unique tracks with track_cost_cutoff set as max_distance(5.2)
# 171 unique tracks with track_cost_cutoff set as max_distance(5.2)**2 and gap closing cost as (2*max_distance)**2
# 97 when max_distance a

# Visualising Using Napari

In [ ]:
# Create a napari viewer
viewer = napari.Viewer()

# Replace 'your_file.tif' with the path to your 4D TIFF file
file_path = '/Users/apple/Desktop/Akamatsu_Lab/Lap_track/self/files/Channel_2.tif'

# Load the TIFF file using skimage
raw_image = io.imread(file_path)

# Add the 4D stack to the viewer
layer_raw = viewer.add_image(raw_image)

# Adding bounding box to the layer 
layer_raw.bounding_box.visible = True

In [ ]:
# adding all tracks to the visualisation which appear in all the 9 frames 
viewer.add_tracks(filtered_df[["track_id", "frame", "mu_z", "mu_y", "mu_x"]])

In [ ]:
# adding all the points detected by our pylattice_code 
points_layer = viewer.add_points(track_df[["frame", "mu_z", "mu_y", "mu_x"]], size=1,
                                name = 'all_points', face_color = 'white', symbol = 'o')

In [ ]:
# adding points that are in all of our 9 tracks 
points_layer = viewer.add_points(filtered_df[["frame", "mu_z", "mu_y", "mu_x"]], size=3, 
                                name = 'all_points', face_color = 'r', symbol = 'ring')

In [ ]:
# Create a 3-D figure
fig = plt.figure(figsize=(8, 8))
ax = fig.add_subplot(111, projection='3d')

# Plot the points
ax.scatter(temp['mu_x'], temp['mu_y'], temp['mu_z'], c='r', marker='o', label='Spots')

# Connect the points with lines
ax.plot(temp['mu_x'], temp['mu_y'], temp['mu_z'], c='b', linestyle='-', label='Tracks')

# Set labels for the axes
ax.set_xlabel('X Coord')
ax.set_ylabel('Y Coord')
ax.set_zlabel('Z Coord', labelpad=-2, rotation=100)


# Add a legend
ax.legend()

# Label the points in the order they were plotted
for i, (xi, yi, zi) in enumerate(zip(temp['mu_x'], temp['mu_y'], temp['mu_z'])):
    label = f'{i + 1}'
    ax.text(xi, yi, zi, label, fontsize=10)
    
# Show the plot
plt.show()

In [ ]:
# Create a time series plot
track_id = temp['track_id'].unique()
plt.figure(figsize=(10, 6))  # Adjust the figure size as needed

plt.plot(temp['frame'], temp['amplitude'], marker='o', linestyle='-')
plt.xlabel('Frame Number')
plt.ylabel('Amplitude')
plt.title(f'Amplitude Over Time for track number {track_id}')
plt.grid(True)

plt.show()